<div class="container" style="position: relative; top: 50px">
  <h1 class="text-center py-3" style="color: var(--lightest-gb)">
    GitHub Issue Browser
  </h1>
  <p class="">
    This website was created to provide a simpler, more straight-forward view of
    issues on GitHub respositories. It is not affiliated with GitHub in any
    manner and was developed and designed as a pet project to better understand
    Angular.
  </p>
  <br />

  <div class="text-center">
    <button
      routerLink="/search"
      class="btn btn-lg btn-outline-info align-self-center"
    >
      Search for Issues
    </button>
  </div>
</div>
