<div class="container pt-3">
  <h1 class="text-center py-3">GitHub Issue Browser</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia modi
    possimus quasi alias, quos, fugiat sint officiis dignissimos nemo enim
    inventore atque sunt cupiditate temporibus necessitatibus nisi excepturi
    provident illum ad sapiente itaque eveniet voluptas saepe dolorum. Earum
    dolorum minus quia ab harum!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores odio,
    dolore, laborum est vero odit molestias modi impedit perspiciatis illo
    doloribus facere, dolores ipsam. Quisquam nemo quidem atque dolorum minus
    voluptatibus, nisi natus asperiores doloremque reprehenderit illum fugiat?
    Eos praesentium explicabo cupiditate eum optio ipsa repudiandae aliquam
    veniam. Porro inventore repellendus optio ullam, non, sit esse praesentium
    perspiciatis numquam accusantium atque minima suscipit saepe? Nisi amet,
    asperiores optio natus, odio ratione dolor modi temporibus quidem nobis ut
    sint laborum nemo illo deserunt quos!
  </p>
</div>
