<div class="container mt-4">
  <button (click)="goBack()" class="btn btn-outline-info">Go Back</button>
  <div class="content-heading">
    <h2>
      <a [attr.href]="issue.html_url" target="_blank"> {{ issue.title }}</a>
      <span class="issue-number"> #{{ issue.number }}</span>
    </h2>
    <h5>
      <a [attr.href]="'https://github.com/' + issue.user.login" target="_blank"
        >Creator: {{ issue.user.login }}</a
      >
    </h5>
    <hr />
  </div>
  <p>
    <strong>Label: </strong>
  </p>
  <div class="comment-container pb-4">
    <h4>Comments:</h4>
    <a
      *ngFor="let comment of issueComments"
      [attr.href]="comment.html_url"
      target="_blank"
    >
      <div class="comment-box mb-4">
        <div class="comment-content">
          <p class="comment-title">
            <a [attr.href]="comment.html_url" target="_blank">{{
              shortenBody(comment.body)
            }}</a>
          </p>
          <p>Author: {{ comment.user.login }}</p>
          <p>Updated at: {{ getFormattedDate(comment.updated_at) }}</p>
          <p>Created at: {{ getFormattedDate(comment.created_at) }}</p>
        </div>
      </div>
    </a>
  </div>
</div>

<router-outlet></router-outlet>
