<div class="container pt-3">
  <form>
    <label id="search-label" for="search-box" class="form-label"
      >Issue Search</label
    >
    <input
      #searchBox
      id="search-box"
      type="text"
      placeholder="Filter issues by title or number..."
      (input)="search(searchBox.value)"
      class="form-control"
    />
  </form>

  <ul
    *ngIf="searchBox.value.length > 0"
    [ngClass]="[
      isFocused(searchBox) ? 'show-elem' : 'hide-elem',
      'search-result'
    ]"
  >
    <li *ngFor="let issue of searchedIssues$ | async">
      <a (click)="openDetails(issue.number)">
        #{{ issue.number }}: {{ issue.title }}
      </a>
    </li>
  </ul>
</div>
