a {
  text-decoration: none;
}

#dropdown-pagination,
.dropdown-item {
  background-color: var(--grey-blue);
  color: var(--lightest-gb);
  transition: 100ms;
}

.dropdown-item:hover {
  background-color: var(--dark-gb);
  color: var(--lightest-purple);
}

.issue-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.issue-box {
  background-color: var(--grey-blue);
  border-radius: 4px;
  transition-duration: 200ms;
}

.issue-box:hover {
  background-color: var(--dark-gb);
  cursor: pointer;
}

.issue-content {
  box-sizing: border-box;
  padding: 8px;
  z-index: 5;
}

.issue-heading {
  font-size: 1.2rem;
  color: var(--lightest-gb);
  max-width: 510px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.issue-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: var(--light-purple);
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
  transition: transform 500ms;
}

.issue-box:hover .issue-heading::after {
  transform: scale(1);
}

.issue-number {
  color: var(--light-gb);
  font-size: 1.2rem;
  font-style: italic;
  position: relative;
  bottom: 0.5rem;
}

.issue-creator {
  color: var(--lightest-gb);
  font-size: 1.1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.issue-open {
  color: darken(green);
}

.issue-closed {
  color: darken(red);
}

.show {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}

/* || Pagination Styling */

/deep/ .pagination {
  display: flex;
  justify-content: center;
  margin: 0px 0px;
  padding-bottom: 1rem !important;
}

/deep/ .pagination a {
  background-color: var(--dark-gb) !important;
  color: var(--lightest-purple) !important;
}

/deep/ .pagination li {
  margin: 0px 0px;
}

/deep/ .pagination li.disabled {
  outline: black !important;
}

/deep/ .pagination .disabled a span {
  color: grey !important;
}

/deep/ .pagination .active {
  background-color: var(--light-purple) !important;
}

/* || Responsive Media */

@media screen and (max-width: 1400px) {
  .issue-heading {
    max-width: 500px;
  }
}

@media screen and (max-width: 1200px) {
  .issue-heading,
  .issue-creator {
    max-width: 400px;
  }
}

@media screen and (max-width: 990px) {
  .issue-heading,
  .issue-creator {
    max-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .issue-heading,
  .issue-creator {
    max-width: 200px;
  }
}

@media screen and (max-width: 574px) {
  .issue-heading,
  .issue-creator {
    max-width: 100px;
  }
}
