a {
  text-decoration: none;
}

.issue-box {
  background-color: var(--grey-blue);
  border-radius: 4px;
  transition-duration: 200ms;
}

.issue-box:hover {
  background-color: var(--dark-gb);
  cursor: pointer;
}

.issue-content {
  box-sizing: border-box;
  padding: 8px;
  z-index: 5;
}

.issue-content h4 {
  color: var(--lightest-gb);
}

.issue-number {
  color: var(--light-gb);
  font-size: 1.3rem;
  font-style: italic;
}

.issue-creator {
  color: var(--lightest-gb);
  font-size: 1.2rem;
  transition: 100ms;
}

.issue-open {
  color: darken(green);
}

.issue-closed {
  color: darken(red);
}
