<div class="container py-3">
  <div
    *ngFor="let issue of gitIssues"
    (click)="openDetails(issue.number)"
    class="container issue-box my-3"
  >
    <div class="issue-content">
      <h4 class="issue-heading">
        {{ issue.title }}<span class="issue-number"> #{{ issue.number }}</span>
      </h4>
      <p class="issue-creator">Creator: {{ issue.user.login }}</p>
      <div>
        <strong>Date Created: </strong
        ><i>{{ getFormattedDate(issue.created_at) }}</i>
      </div>
      <div>
        <strong>ID: </strong><i>{{ issue.id }}</i>
      </div>
      <div>
        <strong>State: </strong
        ><i
          [ngClass]="issue.state === 'open' ? 'issue-open' : 'issue-closed'"
          >{{ issue.state }}</i
        >
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
