<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">GitHub Issue Browser</a>
    <button class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-nav">
      <a
        [routerLinkActive]="['active']"
        [routerLink]="['']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
        >Home</a
      >
      <a
        [routerLinkActive]="['active']"
        [routerLink]="['/search']"
        class="nav-link"
        >Search for Issues</a
      >
      <a
        [routerLinkActive]="['active']"
        href="https://github.com/k-le/github-issue-browser/"
        target="_blank"
        class="nav-link"
        >Code on GitHub</a
      >
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
