<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">GitHub Issue Browser</a>
    <button class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div ngbNav #nav="ngbNav" class="collapse navbar-collapse navbar-nav">
      <a ngbNavLink ngbNavItem routerLink="" class="nav-link">Home</a>
      <a ngbNavLink ngbNavItem routerLink="/about" class="nav-link">About</a>
      <a ngbNavLink ngbNavItem routerLink="/search" class="nav-link"
        >Search for Issues</a
      >
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
