<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">GitHub Issue Browser</a>
    <button class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div ngbNav #nav="ngbNav" class="collapse navbar-collapse navbar-nav">
      <a ngbNavLink [ngbNavItem]="1" routerLink="/dashboard" class="nav-link"
        >Dashboard</a
      >
      <a
        *ngIf="!isLoggedIn"
        ngbNavLink
        [ngbNavItem]="3"
        class="nav-link ms-auto"
        (click)="logIn()"
        >Login with GitHub</a
      >
      <a
        *ngIf="isLoggedIn"
        ngbNavLink
        [ngbNavItem]="4"
        routerLink=""
        class="nav-link ms-auto"
        (click)="logOut()"
        >Log Out</a
      >
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
