.form-control {
  background-color: black;
}

.form-label.required:after {
  color: #d00;
  content: "*";
  position: relative;
  margin-left: 1px;
}

textarea:focus,
input:focus {
  color: var(--lightest-purple);
}

input,
select,
textarea {
  color: var(--lightest-purple);
}
